::ng-deep .mat-mdc-dialog-surface{
    background-color: rgb(235, 235, 235) !important;
    padding: 20px;
}

::ng-deep .mat-mdc-raised-button:not(:disabled){
    background-color: orange !important;
    // border-radius: 20px;
}