<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (item of usuariosEnMichi; track item.id) {
        <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.surname}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td class="d-inline-flex ">
                <button routerLink="/edit/{{item.id}}" type="button" class="btn btn-primary btn-sm d-flex align-items-center"><mat-icon>edit</mat-icon> Edit</button>
                <button mat-raised-button  (click)="abrirEdit()"><mat-icon>edit</mat-icon> Edit con modal</button>
                <button type="button" class="btn btn-danger btn-sm d-flex align-items-center"><mat-icon>delete</mat-icon> Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>